<html>
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- Banner -->
					<section class="banner style1 orient-right content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content" >
							<h1>Portfolio</h1>
							<p class="major">An overview of my academic research and data science projects.</p>
							<ul class="actions stacked">
								<div style="white-space: nowrap">
									<li><a href="#first" class="button large wide smooth-scroll-middle">View Portfolio</a>
									<a href="/" class="button large wide smooth-scroll-middle">Home</a></li>
								</div>
							</ul>
						</div>
						<div class="image">
							<img src="/assets/img/mountains.jpg" alt=""  style='height: 100%; width: 100%; object-fit: cover'  />
						</div>
					</section>

				<section class="wrapper style1 align-center">
					<div class="inner" id="first">
						<h2>Data Science & Machine Learning</h2>
					</div>
				</section>
				<!-- Spotlight -->
					<section class="spotlight style2 orient-left content-align-left image-position-center onscroll-image-fade-in" >
						<div class="content">
							<h2>NeuralXC</h2>
							<p>A Python software package that uses deep learning and symmetry preserving neural networks to enhance
							existing methods for simulating molecular systems, making them faster and more accurate.</p>
							<p> Skills: deep learning, software development, TensorFlow, PyTorch</p>
							<ul class="actions stacked">
								<div style="white-space: nowrap">
									<li><a href="https://marivi.substack.com/p/neuralxc-a-machine-learning-method" class="button">Learn More</a>
									    <a href="https://github.com/semodi/neuralxc" class="button">Repository</a>
									    <a href="https://www.nature.com/articles/s41467-020-17265-7" class="button">Publication</a></li>
								</div>
							</ul>
						</div>
						<div class="image">
							<img src="images/neuralxc.png" alt="" style='height: 100%; width: 100%; object-fit: contain'/>
							<!-- <img src="images/neuralxc.png" alt="" style='height: 100%; width: 100%; object-fit: contai'/> -->
						</div>
					</section>

				<!-- Spotlight -->
					<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>paper-scraper</h2>
							<p>Web-app that lets users explore recent arXiv publications based on their research interests.</p>
							<p>Skills: AWS, Docker, dash/plotly, spectral-clustering, recommender systems, gensim</p>
							<ul class="actions stacked">
								<li><a href="/paper-scraper/" class="button">Learn More</a>
								<a href="https://github.com/semodi/arxiv_app" class="button">Repository</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/assets/img/paperscraper_combined.png" alt="" style='height: 100%; width: 100%; object-fit: contain' />
							<!-- <img src="/assets/img/paperscraper_combined.png" alt="" /> -->
						</div>
					</section>

				<!-- Spotlight -->
					<section class="spotlight style2 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Twitter Sentiment Tracker</h2>
							<p>Web-app to track twitter users' sentiments towards topics and gain insights into market and cultural trends</p>
							<p>Skills: AWS, Apache Spark, Databricks, ETL, streaming data, sentiment analysis, dash/plotly</p>
							<ul class="actions stacked">
								<li><a href="/tst/" class="button">Learn More</a>
								<a href="https://github.com/semodi/twitter-sentiment-tracker" class="button">Repository</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/assets/img/twitter_screenshot.png" alt="" style='height: 100%; width: 100%; object-fit: contain' />
							<!-- <img src="/assets/img/twitter_screenshot.png" alt="" /> -->
						</div>
					</section>

				<!-- Spotlight -->
					<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content"  >
							<h2>So you want to move to...?</h2>
							<p>Finding (Pareto) optimal neighborhoods in NYC</p>
							<p>Skills: (polynomial, k-NN, random forest)-regression, data visualization, scikit-learn, dash/plotly</p>
							<ul class="actions stacked">
								<li><a href="/nyc-neighborhoods/" class="button">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="assets/img/nyc_fig/subway_grid.png" alt="" />
						</div>
					</section>

				<!-- Spotlight -->
					<section class="spotlight style2 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Saturation spectroscopy</h2>
							<p>Data analysis workflow of a saturation spectroscopy study on Rubidium.
								The experiment was conducted as part of the Graduate Laboratory course at Stony Brook University.</p>
							<p>Skills: scientific data analysis, dashboards</p>
							<ul class="actions stacked">
								<li><a href="/satspec/" class="button">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="assets/img/sat_spec_all.png" alt="" style='height: 100%; width: 100%; object-fit: contain'/>
							<!-- <img src="assets/img/sat_spec_all.png" alt="" style='height: 100%; width: 100%; object-fit: contain/> -->
						</div>
					</section>

				<!-- Spotlight -->
					<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Political twitter</h2>
							<p>Analysis of the US political twitter landscape.</p>
							<p>Skills: ETL, sentiment analysis, hypotheses testing, data visualization, bokeh, networkx</p>
							<ul class="actions stacked">
								<li><a href="/polittwitter/" class="button">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<!-- <img src="assets/img/lobbyists4america/wordcloud.png" alt="" style='height: 100%; width: 100%; object-fit: contain' /> -->
							<img src="assets/img/lobbyists4america/wordcloud.png" alt="" />
						</div>
					</section>

				<!-- Gallery -->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>Writing</h2>
						</div>
						<!-- Gallery -->
							<div class="gallery style2 medium lightbox onscroll-fade-in">
								<article>
									<a href="https://towardsdatascience.com/how-bayes-theorem-helped-win-the-second-world-war-7f3be5f4676c">
										<img src="https://miro.medium.com/max/2112/1*K7FLInKduVvTPfivVdp5oA.jpeg" alt="" style='height: 100%; width: auto; object-fit: contain'/>
									</a>
									<div class="caption">
										<h3>How Bayes' theorem helped win the second world war</h3>
										<p>Part I: Introduction to Bayesian statistics and how it cracked the Japaneses naval cipher JN 25</p>
										<ul class="actions fixed">
											<li><span class="button small">Read</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="https://towardsdatascience.com/supercharge-your-model-performance-with-inductive-bias-48559dba5133">
										<img src="https://miro.medium.com/max/2160/1*7JWph87_ge9JeopLyG_y2g.png" alt="" style='height: 100%; width: 100%; object-fit: cover' />
									</a>
									<div class="caption">
										<h3>Supercharge your model performance with inductive bias</h3>
										<p>How to work smarter, not harder: Encoding real-life symmetries in machine learning models can improve their accuracy by orders of magnitude!</p>
										<ul class="actions fixed">
											<li><span class="button small">Read</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="https://towardsdatascience.com/abstract-base-classes-and-how-to-use-them-in-your-data-science-project-2503c13704f4">
										<img src=" https://miro.medium.com/max/1000/1*AIbJiSTxZ6gdfwJLhwr2RQ.jpeg" alt="" style='height: 100%; width: 100%; object-fit: cover' />
									</a>
									<div class="caption">
										<h3>
										Abstract base classes and how to use them in your data science project</h3>
										<p> Write cleaner and safer python code by using this object-oriented programming building block</p>
										<ul class="actions fixed">
											<li><span class="button small">Read</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="https://towardsdatascience.com/unwrapping-the-swiss-roll-9249301bd6b7">
										<img src="https://miro.medium.com/max/700/1*ZkvcETEVFVV5LU1IFsLqoA.jpeg" alt="" style='height: 100%; width: auto; object-fit: contain' />
									</a>
									<div class="caption">
										<h3>Unwrapping the Swiss Roll with Diffusion Maps</h3>
										<p>The amazing dimensionality reduction algorithm you may have never heard of</p>
										<ul class="actions fixed">
											<li><span class="button small">Read</span></li>
										</ul>
									</div>
								</article>
							</div>

					</section>


				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<a href="/" class="button large wide smooth-scroll-middle">Home</a>
							<br>
							<ul class="icons">
								<li><a href="https://twitter.com/semodi92" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.linkedin.com/in/sebastianmdick/" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="mailto:sebastian.dick@stonybrook.edu" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
						</div>
					</footer>

			</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>



	</body>
</html>
